<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="MagicPlugin CS"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <title>CS · Magic Plugin</title>

    <link href="../../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/css/store.css" rel="stylesheet">
    <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

    <script src="../../public/assets/js/includeHTML.js"></script>
</head>
<body>
    <div class="container">
        <header include-html="../../public/assets/header.html"></header>
    </div>

    <div class="container py-4">
        <p>We're not ready yet!</p>
    </div>
</body>

<script>
    includeHTML()
</script>
</html>