<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta property="og:title" content="We're Not Ready Yet..."/>
        <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

        <title>TEST - Font</title>

        <link href="../../public/assets/css/style.css" rel="stylesheet">
        <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

        <script src="../../public/assets/js/includeHTML.js"></script>
    </head>
    <body>
        <header include-html="../../public/assets/header.html"></header>

        <article class="text-center">
            <pre class="GmarketSansMedium">
                <h1>We're Not Ready Yet...</h1>
            </pre>
        </article>

        <footer include-html="../../public/assets/footer.html"></footer>
    </body>

    <script>
        includeHTML()
    </script>
</html>