<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript">
    function maxLengthCheck(object) {
        if (object.value.length > object.maxLength) {
            object.value = object.value.slice(0, object.maxLength);
        }
    }
</script>

<head>
    <meta charset="utf-8">
    <meta name="description" content="MagicPluginTeam Login">

    <link href="email.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Login · Magic Plugin</title>
</head>

<body>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img width="70" height="70" class="me-2 logo" src="../../public/assets/img/logo.png" role="img">
                <span class="fs-3">MagicPluginTeam - Developers</span>
            </a>
        </header>
    </div>

    <div class="page-content d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="col-10">
                <div class="auth-card">
                    <h2 class="auth-title">Email Verification</h2>

                    <hr class="separator">

                    <form>
                        <div style="width: 414">
                            <input type="email" class="custom-control dupe-user category mb-2" placeholder="Email" />
                            <button class="dupe-but category mb-2 ">Send</button>
                        </div>

                        <div class="code-container">
                            <input type="number" class="code" placeholder="0" maxlength="1" oninput="maxLengthCheck(this)" required/>
                            <input type="number" class="code" placeholder="0" maxlength="1" oninput="maxLengthCheck(this)" required/>
                            <input type="number" class="code" placeholder="0" maxlength="1" oninput="maxLengthCheck(this)" required/>
                            <input type="number" class="code" placeholder="0" maxlength="1" oninput="maxLengthCheck(this)" required/>
                            <input type="number" class="code" placeholder="0" maxlength="1" oninput="maxLengthCheck(this)" required/>
                            <input type="number" class="code" placeholder="0" maxlength="1" oninput="maxLengthCheck(this)" required/>
                        </div>
                        <button class="auth-btn mt-2 mb-3">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>