<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/store.css" rel="stylesheet">

    <title>Store · Magic Plugin</title>
</head>
<body>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img width="70" height="70" class="me-2 round-img" src="../../public/assets/img/logo.png">
                <span class="fs-3">MagicPluginTeam - Store</span>
            </a>
        </header>
    </div>

    <div class="container py-4">
        <p>We're not ready yet!</p>
    </div>
</body>
</html>