<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="MagicPluginTeam Login">

    <link href="login.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <title>Login · Magic Plugin</title>
</head>

<body>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img width="70" height="70" class="me-2 logo" src="../../public/assets/img/logo.png" role="img">
                <span class="fs-3">MagicPluginTeam - Developers</span>
            </a>
        </header>
    </div>

    <div class="page-content d-flex align-items-center">
        <div class="container d-flex justify-content-center">
            <div class="col-10">
                <div class="auth-card">
                    <h2 class="auth-title">Login</h2>
                    <button class="service-btn mt-2 mb-3">
                        <i class="fab fa-google service icon"></i>
                        Login with Google
                    </button>
                    <button class="service-btn mb-4">
                        <i class="fab fa-github service icon"></i>
                        Login with Github
                    </button>

                    <hr class="separator">

                    <form>
                        <div class="mb-2">
                            <input type="text" class="form-control auth-input" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control auth-input" placeholder="Password" />
                        </div>
                        <button class="auth-btn mt-2 mb-3">Login</button>
                    </form>
                    <p class="text mt-1 mb-4">Don't have account? <a href="signup.html" class="text-link">create account</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>