<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="MagicStore"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <title>Payment · MagicStore</title>

    <link href="../../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/css/payment.css" rel="stylesheet">
    <link href="../../public/assets/css/fonts.css" rel="stylesheet">
    <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="../../public/assets/js/includeHTML.js"></script>
    <script src="../../public/assets/js/payment.js"></script>
</head>
<body>
    <div class="container mt-2">
        <header include-html="../../public/assets/header.html"></header>
    </div>

    <div class="container py-4">
        <br>
        <input type="radio" id="r1" name="rr" class="creditcard" />
        <label for="r1"><span></span>CreditCard</label>
        <input type="radio" id="r2" name="rr" class="paypal" />
        <label for="r2"><span></span>Paypal</label>

        <div class="payment-creditcard">
            <h1>Payment Information - CreditCard</h1>
        </div>
        <div class="payment-paypal">
            <h1>Payment Information - Paypal</h1>
        </div>
    </div>
</body>

<script>
    includeHTML()
</script>
</html>