<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="Pexel - ShortLink"/>
        <meta property="og:image" content="/public/assets/img/logo.png"/>
    
        <title>ShortLink · Pexel</title>
    
        <link href="/public/assets/css/style.css" rel="stylesheet">
        <link href="/public/assets/css/main.css" rel="stylesheet">
    </head>
<body class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <form class="card p-4" action="/api/redirect/create" method="POST">
        <input type="text" id="directCode1" name="directCode" placeholder="Input 'Direct Code'" required>
        <input type="url" id="redirectURL" name="url" placeholder="Input 'Redirect URL'" required>
        <input class="btn btn-outline-success" type="submit" id="create" value="Create">
    </form>
</body>
</html>