<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link href="../public/fonts.css" rel="stylesheet">

        <title>404 Error</title>
    </head>
    <body>
        <h1 class="IBMPlexSansKR-Regular">Something's wrong  :(</h1>
        <p class="GangwonEduPowerExtraBoldA">The page you are looking for is not available!</p>
    </body>
</html>