<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link href="../public/assets/css/bootstrap.css" rel="stylesheet">
        <link href="../public/assets/css/fonts.css" rel="stylesheet">
        <link href="../public/assets/css/err.css" rel="stylesheet">
        <link href="../public/assets/img/logo-transparent.png" rel="shortcut icon">

        <title>404 ERROR</title>
    </head>
    <body>
            <div style="height: 20%"></div>
            <h1 class="err-code Cafe24Ohsquareair">
                <span>4</span>
                <span>0</span>
                <span>4</span>
                <span>!</span>
            </h1>
            <h1 class="IBMPlexSansKR-Regular err">The Page you're looking for not found :(</h1>
            <a href="/"><p class="hyper btn btn-outline-primary">Go back to main page</p></a>
    </body>
</html>