<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link href="../public/assets/css/bootstrap.css" rel="stylesheet">
        <link href="../public/assets/css/fonts.css" rel="stylesheet">
        <link href="../public/assets/css/err.css" rel="stylesheet">
        <link href="../public/assets/img/logo_transparent.png" rel="shortcut icon">

        <title>404 ERROR</title>
    </head>
    <body>
        <div class="back">
            <h1 class="err-code Cafe24Ohsquareair">
                <span>4</span>
                <span>0</span>
                <span>4</span>
            </h1>
            <h1 class="IBMPlexSansKR-Regular err">Something's wrong  :(</h1>
            <p class="GangwonEduPowerExtraBoldA err" style="font-size: 150%">Page Not Found!</p>
        </div>
    </body>
</html>