<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicPlugin Developers"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Developers · Magic Plugin</title>

    <link href="../public/assets/css/style.css" rel="stylesheet">
    <link href="../public/assets/css/developers.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <%- include("include/header.html"); %>
        
      <div class="box GmarketSansMedium">
        <div class="card person">
          <div class="skin">
            <img src="https://crafatar.com/renders/body/f8419d5c-6ed5-4ec5-b2ad-cd39d9eb74de" alt="AMD_5900X skin">
          </div>
          <div class="about">
            <h2>AMD_5900X</h2>
            <p>YeJun Ho</p>
          </div>
        </div>

        <div class="card person">
          <div class="skin">
            <img src="https://crafatar.com/renders/body/053d384b-5b9f-47d7-a5da-6885c497ce7f" alt="AMD_5900X skin">
          </div>
          <div class="about">
            <h2>Bruce0203</h2>
            <p>JongWon Lee</p>

            <img width="60%" src="https://media.discordapp.net/attachments/898174098860015627/1022504038052413450/unknown.png" alt="LeeJongWon - Selfie">
          </div>
        </div>
      </div>

      <%- include("include/footer.html"); %>
    </main>
  </body>
</html>
