<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="../public/assets/css/style.css" rel="stylesheet">
        <link href="../public/assets/css/err.css" rel="stylesheet">
        <link href="../public/assets/img/logo-transparent.png" rel="shortcut icon">

        <title><%= code %> ERROR</title>
    </head>
    <body>
        <article>
            <h1 class="err-code GmarketSansMedium">
                <span><%= code %></span>
                <span>!</span>
            </h1>

            <h1 class="Cafe24SsurroundAir err"><%= "Something Went Wrong" %> :(</h1>
            <a href="/"><p class="hyper btn btn-outline-primary Cafe24SsurroundAir">Go back to main page</p></a>
        </article>
    </body>
</html>