<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="MagicPlugin ShortLink"/>
        <meta property="og:image" content="../public/assets/img/logo_transparent.png"/>
    
        <title>ShortLink · Magic Plugin</title>
    
        <link href="../public/assets/css/style.css" rel="stylesheet">
        <link href="../public/assets/css/main.css" rel="stylesheet">
    </head>
<body class="container" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    <form class="card p-4" method="POST" action="/r/admin">
        <input type="text" id="directCode1" name="directCode" placeholder="Input 'Direct Code'" required="true" />
        <input type="url" id="redirectURL" name="url" placeholder="Input 'Redirect URL'" required="true" />
        <input class="btn btn-outline-success" type="submit" id="create" value="Create" />
    </form>
</body>
</html>