<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicPlugin Sign In"/>
    <meta property="og:image" content="../public/assets/img/logo_transparent.png"/>

    <title>Sign In · Magic Plugin</title>

    <link href="../public/assets/css/style.css" rel="stylesheet">
    <link href="../public/assets/css/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="title">Sign In</div>
    <div class="content">
        <% if (signup) { %>
            <p style="color: lime;">Successfully signed up! Please check your e-mail.</p>
        <% } else if (verify) { %>
            <p style="color: lime;">Successfully verified your e-mail!</p>
        <% } %>
        <form action="/api/account/signin" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">E-mail</span>
                    <label>
                        <input type="email" name="email" placeholder="Enter your e-mail" required>
                    </label>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <label>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </label>
                </div>
            </div>
            <div class="button mb-2 mt-3">
                <input class="mb-3" type="submit" value="Sign In">
            </div>
        </form>
        <p class="mt-5 mb-0 text-center">Don't have account? <a href="/signup">Sign Up</a> or <a href="/">Back</a></p>
    </div>
</div>
</body>
</html>
