<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="MagicPlugin Sign In"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <title>Sign In · Magic Plugin</title>

    <link href="../public/assets/img/logo-transparent.png" rel="shortcut icon">
    <link href="../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../public/assets/css/signin.css" rel="stylesheet">
    <link href="../public/assets/css/fonts.css" rel="stylesheet">
</head>
<body>


<div class="container">
    <header class="pb-3 mt-3 mb-4 border-bottom GmarketSansMedium">
        <a href="/" class="align-items-center text-dark text-decoration-none" style="width: auto;">
            <img width="70" height="70" class="me-2" viewBox="0 0 118 94" src="../public/assets/img/logo-transparent.png">
            <span class="fs-3">MagicPluginTeam&trade;</span>
        </a>
    </header>

    <div class="title">Sign In</div>
    <div class="content">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username or E-mail</span>
                    <input type="text" placeholder="Enter your username or e-mail" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="text" placeholder="Enter your password" required>
                </div>
            </div>
            <div class="button mb-2 mt-3">
                <input class="mb-3" type="submit" value="Sign In">
            </div>
        </form>
        <div class="text-center" style="width: 100%">
            <button class="btn btn-primary third-party" style="width: 48%; margin-right: 1.5%;">
                <img src="../public/assets/img/bootstrap/google.svg"> Sign In via Google
            </button>
            <button class="btn btn-primary third-party" style="width: 48%; margin-left: 1.5%;">
                <img src="../public/assets/img/bootstrap/github.svg"> Sign In via Github
            </button>
        </div>
        <p class="mt-5 mb-0 text-center">Don't have account? <a href="./signup.html">Sign Up</a></p>
    </div>
</div>
</body>
</html>
