<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicPlugin Sign In"/>
    <meta property="og:image" content="../public/assets/img/logo_transparent.png"/>

    <title>Sign In · Magic Plugin</title>

    <link href="../public/assets/img/logo-transparent.png" rel="shortcut icon">
    <link href="../public/assets/css/style.css" rel="stylesheet">
    <link href="../public/assets/css/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="title">Sign In</div>
    <div class="content">
        <form action="/api/account/signin" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">E-mail</span>
                    <input type="email" name="email" placeholder="Enter your e-mail" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter your password" required>
                </div>
            </div>
            <div class="button mb-2 mt-3">
                <input class="mb-3" type="submit" value="Sign In">
            </div>
        </form>
        <div class="text-center" style="width: 100%; display: flex; justify-content: space-between;">
            <button class="btn btn-primary third-party">
                <img src="../public/assets/img/bootstrap/github.svg"> Sign In via Github
            </button>
        </div>
        <p class="mt-5 mb-0 text-center">Don't have account? <a href="/signup">Sign Up</a> or <a href="/">Back</a></p>
    </div>
</div>
</body>
</html>
