<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="MagicPlugin Sign Up"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <link href="../public/assets/img/logo-transparent.png" rel="shortcut icon">
    <link href="../public/assets/css/style.css" rel="stylesheet">
    <link href="../public/assets/css/signup.css" rel="stylesheet">

    <title>Sign Up · Magic Plugin</title>
</head>
<body>
<div class="container">
    <div class="title">Sign Up</div>
    <div class="content">
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" placeholder="Enter your username" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="number" maxlength="11" placeholder="Enter your number" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" placeholder="Enter your password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" placeholder="Confirm your password" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Sign Up">
            </div>
        </form>
        <p class="mt-5 mb-0 text-center">Already have an account? <a href="./signin.html">Sign In</a> or <a href="/">Go back</a></p>
    </div>
</div>
</body>
</html>
