<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Developers · Magic Plugin</title>
    <meta name="description" content="MagicPluginTeam Developers">

    <link href="../../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/css/developers.css" rel="stylesheet">
    <link href="../../public/assets/img/logo_transparent.png" rel="shortcut icon">
  </head>
  <body>
<main>

  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img width="70" height="70" class="me-2 logo" src="../../public/assets/img/logo_transparent.png" role="img">
        <span class="fs-3">MagicPluginTeam&trade;</span>
      </a>
    </header>
  </div>
    </br>

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4 prof">
        <img width="140" height="140" src="https://avatars.githubusercontent.com/yejunho10" alt="Avatar">
        <br><br>
        <h2 class="fw-normal">Ho YeJun</h2>
        <p>Team Leader</p>
        <a href="https://github.com/yejunho10">
          <img height="25" width="25" src="../../public/assets/img/github.png" style="filter: invert(100%);">
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 prof">
        <img width="140" height="140" src="https://avatars.githubusercontent.com/Bruce0203" alt="Avatar">
        <br><br>
        <h2 class="fw-normal">Lee JongWon</h2>
        <p>Developer</p>
        <a href="https://github.com/Bruce0203">
          <img height="25" width="25" src="../../public/assets/img/github.png" style="filter: invert(100%);">
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 prof">
        <img width="140" height="140" src="https://avatars.githubusercontent.com/chomade" alt="Avatar">
        <br><br>
        <h2 class="fw-normal">Cho YoonHyeong</h2>
        <p>Developer</p>
        <a href="https://github.com/chomade">
          <img height="25" width="25" src="../../public/assets/img/github.png" style="filter: invert(100%);">
        </a>
      </div><!-- /.col-lg-4 -->

      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <div class="col-lg-4 prof">
        <img width="140" height="140" src="https://avatars.githubusercontent.com/ice12321" alt="Avatar">
        <br><br>
        <h2 class="fw-normal">Oh JungWoo</h2>
        <p>Designer</p>
        <a href="https://github.com/ice12321">
          <img height="25" width="25" src="../../public/assets/img/github.png" style="filter: invert(100%);">
        </a>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 prof">
        <img width="140" height="140" src="https://avatars.githubusercontent.com/copecone" alt="Avatar">
        <br><br>
        <h2 class="fw-normal">ControlD</h2>
        <p>Planner</p>
        <a href="https://github.com/copecone">
          <img height="25" width="25" src="../../public/assets/img/github.png" style="filter: invert(100%);">
        </a>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
  <br><br>

    <hr class="featurette-divider">

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; Bruce0203, yejunho10 &middot; <a href="https://github.com/MagicPluginTeam">View GitHub Organization</a></p>
  </footer>
</main>
    <script src="../../public/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
