<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta property="og:title" content="MagicPlugin DevTeam"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <title>Developers · Magic Plugin</title>

    <link href="../../public/assets/css/style.css" rel="stylesheet">
    <link href="../../public/assets/css/fonts.css" rel="stylesheet">
    <link href="../../public/assets/css/devteam.css" rel="stylesheet">
    <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

    <script src="../../public/assets/js/includeHTML.js"></script>
  </head>
  <body>
<main>
    <header include-html="../../public/assets/header.html"></header>

    <!-- Three columns of text below the carousel -->
    <article class="box container GmarketSansMedium">
      <div class="first">
        <article>
          <img class="Avatar" width="140" height="140" src="https://avatars.githubusercontent.com/yejunho10" alt="Avatar">
          <br><br>
          <h2 class="fw-normal">Ho YeJun</h2>
          <p>Team Leader</p>
          <a href="https://github.com/yejunho10">
            <img height="25" width="25" src="../../public/assets/img/bootstrap/github.svg">
          </a>
        </article>

        <article>
          <img class="Avatar" width="140" height="140" src="https://avatars.githubusercontent.com/Bruce0203" alt="Avatar">
          <br><br>
          <h2 class="fw-normal">Lee JongWon</h2>
          <p>Developer</p>
          <a href="https://github.com/Bruce0203">
            <img height="25" width="25" src="../../public/assets/img/bootstrap/github.svg">
          </a>
        </article>

        <article>
          <img class="Avatar" width="140" height="140" src="https://avatars.githubusercontent.com/chomade" alt="Avatar">
          <br><br>
          <h2 class="fw-normal">Cho YoonHyeong</h2>
          <p>Developer</p>
          <a href="https://github.com/chomade">
            <img height="25" width="25" src="../../public/assets/img/bootstrap/github.svg">
          </a>
        </article>
      </div>

      <div class="second">
        <article>
          <img class="Avatar" width="140" height="140" src="https://avatars.githubusercontent.com/ice12321" alt="Avatar">
          <br><br>
          <h2 class="fw-normal">Oh JungWoo</h2>
          <p>Designer</p>
          <a href="https://github.com/ice12321">
            <img height="25" width="25" src="../../public/assets/img/bootstrap/github.svg">
          </a>
        </article>
      </div>
    </article>

  </div><!-- /.container -->


  <header include-html="../../public/assets/footer.html"></header>
</main>
  </body>

  <script>
    includeHTML()
  </script>
</html>
