<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:title" content="MagicPlugin Wiki"/>
        <meta property="og:image" content="/public/assets/img/logo-transparent.png"/>

        <title>Wiki · Magic Plugin</title>

        <link href="../../public/assets/css/style.css" rel="stylesheet">
        <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">
    </head>
    <body>
        <%- include("../include/header.html"); %>

        <article class="text-center">
            <h1 class="GmarketSansMedium">We're Not Ready Yet...</h1>
        </article>

        <%- include("../include/footer.html"); %>
    </body>
</html>