<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="MagicPluginTeam Main">

    <title>Main · Magic Plugin</title>

    <link href="../../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/css/main.css" rel="stylesheet">
    <link href="../../public/assets/img/logo_transparent.png" rel="shortcut icon">
  </head>
  <body>
    
<main>
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img width="70" height="70" class="me-2" viewBox="0 0 118 94" src="../../public/assets/img/logo_transparent.png">
        <span class="fs-3">MagicPluginTeam</span>
      </a>
    </header>

    <div class="row align-items-md-stretch">
      <div class="container-fluid py-5 cent">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h1>Store</h1>
          <p>Visit our store now!</p>
          <a href="../../views/store/index.html"><button class="btn btn-outline-light" type="button">GO!</button></a>
        </div>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="container-fluid py-5 cent">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h1>Developers</h1>
          <p>Introduce our magical developers!</p>
          <a href="../../views/developers/index.html"><button class="btn btn-outline-light" type="button">GO!</button></a>
        </div>
      </div>
    </div>

    <footer class="pt-3 mt-4 text-muted border-top">
      &copy; 2022 &middot; yejunho10
    </footer>
  </div>
</main>
  </body>
</html>
