<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="MagicPlugin Main"/>
  <meta property="og:image" content="../../public/assets/img/logo_transparent.png"/>

  <title>Main · Magic Plugin</title>

  <link href="../../public/assets/css/style.css" rel="stylesheet">
  <link href="../../public/assets/css/main.css" rel="stylesheet">
  <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

  <script src="../../public/assets/js/includeHTML.js"></script>
</head>
<body>
<main>
  <header include-html="../../public/assets/header.html"></header>

  <article class="body">
    <div class="items">
      <article class="article">
        <h1>Store</h1>
        <a href="../../store"><button class="btn btn-outline-light" type="button">GO!</button></a>
      </article>

      <article class="article">
        <h1>Customer Service</h1>
        <a href="../../cs"><button class="btn btn-outline-light" type="button">GO!</button></a>
      </article>

      <article class="article">
        <h1>Dashboard</h1>
        <a href="../../dashboard"><button class="btn btn-outline-light" type="button">GO!</button></a>
      </article>

      <article class="article">
        <h1>Developers</h1>
        <a href="../../devteam"><button class="btn btn-outline-light" type="button">GO!</button></a>
      </article>

      <article class="article">
        <h1>Official Website, The Magical World</h1>
      </article>
    </div>
  </article>

  <footer include-html="../../public/assets/footer.html"></footer>
</main>

<script>
  includeHTML()
</script>

</body>
</html>