html, body, main {
    background: #121212;
}

* {
    color: white;
}

.card-wrapper {
    display: flex;
    width: auto;
    height: auto;
    margin: 1.5rem;
}

.card {
    padding: 1rem;
    width: fit-content;
    margin: 1rem 1rem 1.5rem;
}