.box {
    margin-top: 3rem;
}

.first,
.second {
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-left: 3rem;
    padding-right: 3rem;
}

.first {
    margin-bottom: 3rem;
}

.Avatar {
    border-radius: 50%;
}