html, body, main {
    background: #121212;
}

* {
    color: white;
}

.box {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    display: flex;
    width: fit-content;
    margin: 1rem;
}

.skin {
    width: auto;
}

.about {
    width: auto;
    padding: 2rem;
    border-left: 1px solid lightgray;
    height: auto;
}