.footer-container {
    width: 100%;
}

.footer-border-top {
    border-top: 1px solid lightgray;
}

.footer-foot {
    background: #F7F7F7;
    color: #000;
}

.footer-foot-article {
    margin: 0.6rem 2rem;
    font-size: smaller;
}