@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'GmarketSansMedium', sans-serif;
}

html, body, main {
    background: #121212;
}

.landing_container {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.landing {
    color: white;
    width: 100%;
    text-align: center;
}

.links {
    text-align: center;
}