html, body, main {
    background: #121212;
}

* {
    color: white;
}

.menu-wrapper {
    width: auto;
    padding: 2rem;
}

.account-info {
    padding: 2rem;
    margin: 1rem;
    border-radius: 15px;
    border: white solid 2px;
    width: auto;
    word-break: break-all;
}

.danger-zone {
    padding: 2rem;
    margin: 1rem;
    border-radius: 15px;
    border: darkred solid 2px;
    width: fit-content;
}

#password-input {
    color: white;
    background: #121212;
}