html, body {
    background-color: #FFF;
    width: 100%;
    height: 100%;
}

.pay {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.pay:hover {
    transform: scale(0.9);
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}