<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel Developers"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Developers · Pexel</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/developers.css" rel="stylesheet">
  </head>
  <body>
    <main>
      <%- include("include/header.html"); %>
        
      <div class="box GmarketSansMedium">
        <div class="card person">
          <div class="about">
            <h2>Ho YeJun</h2>
            <p>Web Development & Plugin Development / CEO</p>
          </div>
        </div>

        <div class="card person">
          <div class="about">
            <h2>Lee JongWon</h2>
            <p>Plugin Development / Sub-CEO</p>
          </div>
        </div>
      </div>

      <%- include("include/footer.html"); %>
    </main>
  </body>
</html>
