<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel Developers"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Developers · Pexel</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/developers.css" rel="stylesheet">
</head>
<body>
<main>
    <%- include("include/header.html"); %>

    <div class="box GmarketSansMedium">
        <div class="card person">
            <div class="about">
                <h2>Ho YeJun</h2>
                <p>Web Development & Plugin Development / CEO</p>
            </div>

            <div class="links">
                <a href="https://github.com/yejunho10">
                    <img src="/public/assets/img/bootstrap/github.svg" class="logo" alt="Github logo">
                </a>
                <a href="https://discord.com/users/903581676242866177">
                    <img src="/public/assets/img/bootstrap/discord.svg" class="logo" alt="Discord logo">
                </a>
                <a href="https://open.spotify.com/user/31id3z3ikum3vvhyx564nymg3itq">
                    <img src="/public/assets/img/bootstrap/spotify.svg" class="logo" alt="Spotify logo">
                </a>
                <a href="https://www.youtube.com/channel/UCvHZjXa8-KlpQYeCOZLt2xA">
                    <img src="/public/assets/img/bootstrap/youtube.svg" class="logo" alt="Youtube logo">
                </a>
                <a href="https://ko.namemc.com/profile/WTFJS.1">
                    <img src="/public/assets/img/creeper.png" class="logo" alt="Creeper logo">
                </a>
                <a href="https://ko.namemc.com/profile/yejunho10.2">
                    <img src="/public/assets/img/creeper.png" class="logo" alt="Creeper logo">
                </a>
            </div>
        </div>

        <div class="card person">
            <div class="about">
                <h2>Lee JongWon</h2>
                <p>Plugin Development / CTO</p>
            </div>

            <div class="links">
                <a href="https://github.com/Bruce0203">
                    <img src="/public/assets/img/bootstrap/github.svg" class="logo" alt="Github logo">
                </a>
                <a href="https://discord.com/users/726645165858619422">
                    <img src="/public/assets/img/bootstrap/discord.svg" class="logo" alt="Discord logo">
                </a>
                <a href="https://open.spotify.com/user/g5xwsq1t8x97pck3se2nayvu7">
                    <img src="/public/assets/img/bootstrap/spotify.svg" class="logo" alt="Spotify logo">
                </a>
                <a href="https://ko.namemc.com/profile/JetBrainer.1">
                    <img src="/public/assets/img/creeper.png" class="logo" alt="Creeper logo">
                </a>
            </div>
        </div>
    </div>

    <%- include("include/footer.html"); %>
</main>
</body>
</html>
