<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel Main"/>
    <meta property="og:image" content="/favicon.ico"/>

    <title>Main · Pexel</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/main.css" rel="stylesheet">
</head>
<body>
<main>
    <%- include("include/header.html"); %>

    <article class="landing_container">
        <div class="landing">
            <h1>Pexel Team</h1>
            <p>Make your own plugin.</p>
        </div>

        <div class="links">
            <div>
                <a href="/wiki">
                    <button class="btn btn-outline-secondary" type="button">Wiki</button>
                </a>

                <a href="/developers">
                    <button class="btn btn-outline-secondary" type="button">Developers</button>
                </a>
            </div>
            <div style="height: 0.5rem;"></div>
            <div>
                <a href="/dashboard">
                    <button class="btn btn-outline-secondary" type="button">Dashboard</button>
                </a>

                <a href="/store">
                    <button class="btn btn-outline-secondary" type="button">Store</button>
                </a>
            </div>
        </div>
    </article>

    <%- include("include/footer.html"); %>
</main>

</body>
</html>