<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel - Sign In"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Sign In · Pexel</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/signin.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="title">Sign In</div>
    <div class="content">
        <% if (signup) { %>
            <p style="color: lime;">Successfully signed up! Please check your e-mail.</p>
        <% } else if (verify) { %>
            <p style="color: lime;">Successfully verified your e-mail!</p>
        <% } %>
        <form action="<% if (redirect === null) { %>/api/account/signin<% } else { %>/api/account/signin?redirect=<%= redirect %><% } %>" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">E-mail</span>
                    <label>
                        <input type="email" name="email" placeholder="Enter your e-mail" required>
                    </label>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <label>
                        <input type="password" name="password" placeholder="Enter your password" required>
                    </label>
                </div>
            </div>
            <div class="button mb-2 mt-3">
                <input class="mb-3" type="submit" value="Sign In">
            </div>
        </form>
        <a href="<%= githubOAuthUrl %>">
            <button class="third-party">
                <span class="third-party-item-wrapper">
                    <span class="third-party-logo-wrapper">
                        <img src="/public/assets/img/bootstrap/github.svg" class="third-party-logo" alt="Github logo">
                    </span>
                    <span class="third-party-text">SignIn via Github</span>
                </span>
            </button>
        </a>

        <p class="mt-5 mb-0 text-center">Don't have an account? <a href="/signup">Sign Up</a> or <a href="/">Back</a>
        </p>
    </div>
</div>
</body>
</html>
