<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel - Image Upload"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Image Upload · Pexel</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/admin-image-upload.css" rel="stylesheet">
</head>
<body>
<main>
    <%- include("../../include/header.html"); %>

    <div class="container GmarketSansMedium">
        <h2 class="text-center">이미지 등록</h2>
        <form action="/api/file"method="POST" enctype="multipart/form-data" style="text-align: center;">
            <div class="mb-3 row">
                <input type="file" class="form-control" name="file" accept="image/jpeg, image/png" required="true">
            </div>
            <div class="mb-3 row">
                <input type="submit" class="btn btn-lg btn-outline-primary" value="업로드">
            </div>
        </form>
    </div>

    <%- include("../../include/footer.html"); %>
</main>
</body>
</html>
