<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Pexel Admin Dashboard"/>
    <meta property="og:image" content="/public/assets/img/logo.png"/>

    <title>Admin Dashboard · Pexel</title>

    <link href="/public/assets/css/style.css" rel="stylesheet">
    <link href="/public/assets/css/admin-dashboard.css" rel="stylesheet">
    <link href="/public/assets/img/logo.png" rel="shortcut icon">
</head>
<body>
<main>
    <%- include("../include/header.html"); %>

    <div class="card-wrapper GmarketSansMedium">
        <div class="card">
            <h3>Store</h3>
            <a href="/admin/store/create">
                <button class="btn btn-lg btn-outline-secondary">Create Product</button>
            </a>
            <a href="/admin/store/list">
                <button class="btn btn-lg btn-outline-secondary">Product List</button>
            </a>
        </div>

        <div class="card">
            <h3>Image</h3>
            <a href="/admin/image/upload">
                <button class="btn btn-lg btn-outline-secondary">Upload Image</button>
            </a>
            <a href="/admin/image/list">
                <button class="btn btn-lg btn-outline-secondary">Image List</button>
            </a>
        </div>

        <div class="card">
            <h3>Account</h3>
            <a href="/admin/account/list">
                <button class="btn btn-lg btn-outline-secondary">Account List</button>
            </a>
        </div>

        <div class="card">
            <h3>ShortLink</h3>
            <a href="/admin/r/make">
                <button class="btn btn-lg btn-outline-secondary">Make ShortLink</button>
            </a>
        </div>
    </div>

    <%- include("../include/footer.html"); %>
</main>
</body>
</html>