<header class="GmarketSansMedium">
    <link rel="stylesheet" href="/public/assets/css/header.css">

    <nav class="navbar">
        <div class="navbar_logo text-center">
            <a href="/" style="height: fit-content;">
                <img width=210px" height="90px" src="/public/assets/img/logo.png" alt="logo">
            </a>
        </div>

        <ul class="navbar_menu text-center">
            <li><a href="/">Home</a></li>
            <li class="menu-mid-bar"></li>
            <li><a href="/store">Store</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>

        <ul class="navbar_account">
            <li id="logout"><a href="/api/account/logout">Logout</a></li>
            <li id="signup"><a href="/signup">SignUp</a></li>
            <li id="signin"><a href="/signin">SignIn</a></li>
            <li id="mypage"><a href="/mypage">My Page</a></li>
        </ul>
    </nav>

    <script>
        function getCookie(name) {
            const dc = document.cookie;
            let data = dc.indexOf(name);

            if (data === -1) {
                return null;
            }

            return data;
        }

        let A = document.getElementById("logout");
        let B = document.getElementById("signup");
        let C = document.getElementById("signin");
        let D = document.getElementById("mypage");

        if (getCookie("userId") == null) {
            A.hidden = true;
            B.hidden = false;
            C.hidden = false;
            D.hidden = true;
        } else {
            A.hidden = false;
            B.hidden = true;
            C.hidden = true;
            D.hidden = false;
        }
    </script>
</header>