<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="MagicPlugin TEST"/>
    <meta property="og:description" content="Font"/>
    <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

    <title>TEST - Font</title>

    <link href="../../public/assets/css/style.css" rel="stylesheet">
    <link href="../../public/assets/css/font.css" rel="stylesheet">
    <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

    <script src="../../public/assets/js/includeHTML.js"></script>
</head>
<body>
    <header include-html="../../public/assets/header.html"></header>

    <article class="text-center">
        <h1 class="GmarketSansMedium">이곳은 폰트 테스트 페이지입니다!</h1>

        <div class="font-box GmarketSansMedium">
            <h1>GmarketSansMedium</h1>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
        </div>

        <div class="font-box Cafe24SsurroundAir">
            <h1>Cafe24SsurroundAir</h1>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
        </div>

        <div class="font-box KOTRA_BOLD-Bold">
            <h1>KOTRA_BOLD-Bold</h1>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
            <p>TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT TEST TEXT</p>
        </div>
    </article>
    </div>

    <footer include-html="../../public/assets/footer.html"></footer>
</body>

<script>
    includeHTML()
</script>
</html>