<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../../public/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../public/assets/css/fonts.css" rel="stylesheet">
    <link href="../../public/assets/img/logo_transparent.png" rel="shortcut icon">

    <title>Font Test</title>
</head>
<body>
    <div class="container py-4 GmarketSansMedium" style="font-size: 140%;">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img width="70" height="70" class="me-2 logo" src="../../public/assets/img/logo.png" role="img">
                <span class="fs-3">MagicPluginTeam&trade;</span>
            </a>
        </header>
    </div>

    <div class="row align-items-md-stretch font-box" style="font-size: 140%;">
        <h1 class="GmarketSansBold">이곳은 폰트 테스트 페이지입니다! :)</h1>
        <p size="100%" class="Cafe24SsurroundAir">모든 폰트는 상업적으로 사용가능합니다.</p>

        <div class="container-fluid py-5 cent">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <p class="Cafe24Ohsquareair">Cafe24Ohsquareair: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="Cafe24SsurroundAir">Cafe24SsurroundAir: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="CookieRun-Regular">CookieRun-Regular: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="GangwonEduPowerExtraBoldA">GangwonEduPowerExtraBoldA: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="GmarketSansBold">GmarketSansBold: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="IBMPlexSansKR-Regular">IBMPlexSansKR-Regular: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="KOTRA_BOLD-Bold">KOTRA_BOLD-Bold: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="LeferiPoint-WhiteObliqueA">LeferiPoint-WhiteObliqueA: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="ROKAFSansBold">ROKAFSansBold: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="TmonMonsori">TmonMonsori: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
                <p class="양진체">양진체: 동틀 녘 햇빛 포개짐 | The quick brown fox jumps over the lazy dog</p>
            </div>
        </div>
    </div>
</body>
</html>