<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta property="og:title" content="MagicPlugin TEST"/>
      <meta property="og:description" content="UUID"/>
      <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

      <title>TEST - UUID</title>

      <link href="../../public/assets/css/bootstrap.css" rel="stylesheet">
      <link href="../../public/assets/css/fonts.css" rel="stylesheet">
      <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">
  </head>
  <body>
    <div class="cent mt-5">
        <a href="http://web.feather-s.kr:5050/test/uuidTest">
            <button class="btn btn-primary btn-lg">Download!</button>
        </a>
    </div>
  </body>
</html>