<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
        <link href="../../public/assets/css/bootstrap.css" rel="stylesheet">
        <link href="../../public/assets/css/fonts.css" rel="stylesheet">
        <link href="../../public/assets/img/logo_transparent.png" rel="shortcut icon">

        <title>TEST - UUID.uid</title>
  </head>
  <body>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                <img width="70" height="70" class="me-2 logo" src="../../public/assets/img/logo.png" role="img">
                <span class="fs-3">MagicPluginTeam&trade;</span>
            </a>
        </header>
    </div>

    <div class="cent">
        <a href="http://web.feather-s.kr:5050/test/uuidTest">
            <button class="btn btn-primary btn-lg">Download!</button>
        </a>
    </div>
  </body>
</html>