<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta property="og:title" content="MagicPlugin TEST"/>
      <meta property="og:description" content="UUID"/>
      <meta property="og:image" content="/public/assets/img/logo_transparent.png"/>

      <title>TEST - UUID</title>

      <link href="../../public/assets/css/style.css" rel="stylesheet">
      <link href="../../public/assets/img/logo-transparent.png" rel="shortcut icon">

      <script src="../../public/assets/js/includeHTML.js"></script>
  </head>
  <body>
    <header include-html="../../public/assets/header.html"></header>

    <article class="text-center m-5">
        <h1 class="GmarketSansMedium">이곳은 파일 생성 테스트 페이지입니다!</h1>
        <a href="/test/uuidTest">
            <button class="btn btn-primary GmarketSansMedium">Download!</button>
        </a>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
        <h2 class="GmarketSansMedium">!!! 테1스트 페2지 !!!</h2>
    </article>

    <footer include-html="../../public/assets/footer.html"></footer>
  </body>

    <script>
        includeHTML()
    </script>
</html>